/* .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 35px 45px;
} */

.Title {
  color: slateblue;
  margin-left: 10px;
}

.Navbar {
  margin-top: -5px;
}
