.Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin: 35px 45px;
  margin-left: 750px;
}

.Top__icons {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  /* padding-bottom: 5px; */
}
.Top__container {
  padding-left: 100px;
}
